/*
 Search box content
*/
.advancedSearchBox {
    float: left;
    display: inline-block;
    position: relative;
    margin: 0 3px 0 0;
    border: 1px solid #DDD;
    padding: 3px 5px 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    cursor: text;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 36px;
}
/*
 Parameters
*/
.advancedSearchBox .parameter {
    float: left;
    background: #EAEAEA;
    border: 1px solid #E6E6E6;
    margin: 1px 3px 1px 0;
    padding: 3px 3px 0 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: default;
    -moz-transition: box-shadow 100ms linear;
    -o-transition: box-shadow 100ms linear;
    -webkit-transition: box-shadow 100ms linear;
    transition: box-shadow 100ms linear;
    color: #555;
    height: 26px;
}
.advancedSearchBox .parameter:hover {
    box-shadow: 0 1px 0rgba(0,0,0,.2);
}

.advancedSearchBox .parameter i{
    float: left;
    cursor: pointer;
    color: #e75b24;
    padding: 3px 3px 3px 4px;
    font-size: 10pt;
    margin-top: 0;
}
.advancedSearchBox .parameter i:hover{
    color: #FF0000;
} 
.advancedSearchBox .parameter .property{
    float: left;
    padding: 2px 7px 0 3px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    font-size: 9pt;
}
.advancedSearchBox .parameter .property:after{
    content: ':';
    position: absolute;
    margin-left: 1px;
}
.advancedSearchBox .parameter .value{
    padding: 0;
    display: inline-block; 
    position: relative;
}
.advancedSearchBox .parameter .value input{
    font-size: 10.2pt;
    float: left;
    min-width: 56px;
    background: transparent;
    padding: 4px 4px 3px 4px;
    margin-top: -2px;
    border-radius: 2px;
    border: 0;
    overflow: hidden;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
    color: #616161;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.advancedSearchBox .parameter .value input.uppercase{
    text-transform:uppercase!important;
}
.advancedSearchBox .parameter:hover .value input {
    background: rgba(255, 255, 255, 0.64);
    color: #000;
    -webkit-transition: background 50ms linear;
    -moz-transition: background 50ms linear;
    -o-transition: background 50ms linear;
    transition: background 50ms linear;
}

.advancedSearchBox .parameter .value input:focus{
    background: #FFF;
    box-shadow: inset 0 -1px 0 rgb(204, 204, 204);
    outline: none;
    color: #000;
    text-transform: inherit;
}
.advancedSearchBox .parameter .value input[type="date"]{
   min-width: 145px; 
   padding:1px 2px 2px 2px;
}
    
/*
 Filters
*/
.advancedSearchBox .filtersWrap{
    position: relative;
    float: left;
    width:100%;
    z-index: 4;
}
.advancedSearchBox .parameter ~ .filtersWrap {
    width: auto;/*if #advancedSearchBox has 1 o more parameter then change .filtersWrap width*/
}
.advancedSearchBox .filtersWrap .inputSearch{
    border: 0;
    border-radius: 3px;
    padding: 9px 6px 5px 6px;
    margin-top: -2px;
    font-size: 13px;
    float: left;
    background: transparent;
    width: 100%;
    color: #555;
}
.advancedSearchBox .filtersWrap .searchFilters,
.suggestedValues{
    position: absolute;
    top: 32px;
    left: 0;
    background: #FFF;
    border: 1px solid rgb(221, 221, 221);
    border-top: 0;
    list-style: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 170px;
    max-width: 200px;
    z-index: 110;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

.advancedSearchBox .suggestedValues{
    top: 27px;
}

.advancedSearchBox .filtersWrap .searchFilters ul,
.suggestedValues ul{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.advancedSearchBox .filtersWrap .searchFilters ul:before, 
.advancedSearchBox .filtersWrap .searchFilters ul:after,
.suggestedValues ul:before,
.suggestedValues ul:after{
	bottom: 100%;
	left: 13%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.advancedSearchBox .filtersWrap .searchFilters ul:before,
.suggestedValues ul:before{
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #E6E6E6;
    border-width: 9px;
    margin-left: -15px;
}
.advancedSearchBox .filtersWrap .searchFilters ul:after,
.suggestedValues ul:after{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -14px;
}

.advancedSearchBox .filtersWrap .searchFilters ul li,
.suggestedValues ul li{
    float: left;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid transparent;
    padding: 7px 12px;
    font-size: 9pt;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.advancedSearchBox .filtersWrap .searchFilters ul li:last-child,
.suggestedValues ul li:last-child {
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.advancedSearchBox .filtersWrap .searchFilters ul li:only-child{
    display:block!important;/*display last LI message, there are not more options*/
}

.advancedSearchBox .filtersWrap .searchFilters ul li:hover,
.advancedSearchBox .filtersWrap .searchFilters ul li.selected,
.suggestedValues ul li:hover{
    background: #e0f0f6;
    color:#000;
    font-weight: 500;
    border-bottom: 1px solid rgb(210, 228, 234);
    border-top: 1px solid rgb(210, 228, 234);
}

/*
 Icon search actions
*/
.advancedSearchBox .iconSearchActions{
    float: right;
}
.advancedSearchBox .iconSearchActions i{
    color: #A9A9A9;
    top: calc(50% - 6px);
    right: 7px;
    position: absolute;
    font-size: 10pt;
}
.advancedSearchBox .iconSearchActions .clear{
    cursor: pointer;
    font-size: 11pt;
    z-index: 5;
}
.advancedSearchBox .iconSearchActions .clear:hover{
    color: #CE2727;
}
